* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

.wrap {
    width: full;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    &__right {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
}

